In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import MetaTrader5 as mt5
import pandas as pd
from datetime import datetime

In [12]:
# df.to_csv('btcusd.csv', index=False)

# Getting data from the metatrader server

In [8]:

# initialize MT5 connection
if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()

# set the symbol and timeframe
symbol = "Volatility 75 Index"
timeframe = mt5.TIMEFRAME_H1   # for one-minute bars

#dates for retrieving the history
date_from = datetime(2018, 1, 1)
date_to = datetime.today()

# get the history
history = mt5.copy_rates_range(symbol, timeframe, date_from, date_to)

if history is not None and len(history) > 0:
    # create DataFrame out of the obtained data
    rates_frame = pd.DataFrame(history)

    # convert time in seconds into the datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')
    
else:
    print("No data for the requested period")

# terminate the connection to the MetaTrader 5 terminal
mt5.shutdown()

No data for the requested period

True

In [4]:
rates_frame

,time,open,high,low,close,tick_volume,spread,real_volume
0,2019-01-01 05:00:00,110937.33,112266.87,110692.59,111906.08,1740,6000,0
1,2019-01-01 06:00:00,111901.24,112389.49,111536.92,112294.98,1800,6000,0
2,2019-01-01 07:00:00,112308.46,112359.74,110311.97,110470.23,1800,6000,0
3,2019-01-01 08:00:00,110475.83,110889.27,109865.95,110701.14,1800,6000,0
4,2019-01-01 09:00:00,110704.81,111082.42,109328.34,110213.31,1800,6000,0
...,...,...,...,...,...,...,...,...
35054,2022-12-31 20:00:00,336934.32,337495.83,334899.64,337495.83,1800,6800,0
35055,2022-12-31 21:00:00,337505.09,337990.21,334623.74,336008.11,1800,6800,0
35056,2022-12-31 22:00:00,335913.97,337310.76,333639.23,334873.23,1800,6800,0
35057,2022-12-31 23:00:00,334857.22,335059.29,331941.99,332269.83,1800,6800,0
35058,2023-01-01 00:00:00,332260.72,336538.90,331526.52,336126.25,1800,6800,0

# Getting data on the 1 hour timeframe

In [18]:
# initialize MT5 connection
if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()

# set the symbol and timeframe
symbol = "XAUUSD"
timeframe = mt5.TIMEFRAME_H1   # for one-minute bars

#dates for retrieving the history
date_from = datetime(2015, 12, 15)
date_to = datetime.today()

# get the history
history = mt5.copy_rates_range(symbol, timeframe, date_from, date_to)

if history is not None and len(history) > 0:
    # create DataFrame out of the obtained data
    rates_frame = pd.DataFrame(history).drop(['spread','real_volume'], axis =1)

    # convert time in seconds into the datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')
else:
    print("No data for the requested period")

# terminate the connection to the MetaTrader 5 terminal
mt5.shutdown()
rates_frame

                     time     open     high      low    close  tick_volume
0     2016-12-15 02:00:00  1142.34  1144.47  1142.06  1143.62         9861
1     2016-12-15 03:00:00  1143.58  1143.78  1141.58  1142.57        11524
2     2016-12-15 04:00:00  1142.59  1144.03  1140.87  1141.88        14523
3     2016-12-15 05:00:00  1141.88  1142.20  1140.90  1141.45        10728
4     2016-12-15 06:00:00  1141.45  1143.17  1140.69  1141.19        12983
...                   ...      ...      ...      ...      ...          ...
37613 2023-06-07 09:00:00  1961.62  1964.59  1961.44  1964.48         4059
37614 2023-06-07 10:00:00  1964.52  1966.46  1962.37  1962.68         4238
37615 2023-06-07 11:00:00  1962.68  1965.25  1960.90  1961.32         5444
37616 2023-06-07 12:00:00  1961.31  1961.36  1957.19  1958.57         7720
37617 2023-06-07 13:00:00  1958.48  1960.70  1958.06  1959.81         3731

[37618 rows x 6 columns]

In [2]:
# Getting data on the 15 minutes timeframe
if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()

# set the symbol and timeframe
symbol = "XAUUSD"
timeframe = mt5.TIMEFRAME_M15   # for one-minute bars

#dates for retrieving the history
date_from = datetime(2016, 12, 15)
today = datetime.today()

# get the history
history = mt5.copy_rates_range(symbol, timeframe, date_from, today)

if history is not None and len(history) > 0:
    # create DataFrame out of the obtained data
    rates_frame = pd.DataFrame(history).drop(['spread','real_volume'], axis =1)

    # convert time in seconds into the datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')
else:
    print("No data for the requested period")

# terminate the connection to the MetaTrader 5 terminal
mt5.shutdown()
rates_frame.to_csv('xauusd_M15.csv', index=False)

In [3]:
df =pd.read_csv('xauusd_M15.csv')
df

                       time     open     high      low    close  tick_volume
0       2016-12-15 02:00:00  1142.34  1142.50  1142.14  1142.24          196
1       2016-12-15 02:15:00  1142.24  1143.23  1142.06  1142.63         1929
2       2016-12-15 02:30:00  1142.64  1144.01  1142.62  1143.34         4677
3       2016-12-15 02:45:00  1143.34  1144.47  1142.96  1143.62         3059
4       2016-12-15 03:00:00  1143.58  1143.78  1142.84  1142.89         2773
...                     ...      ...      ...      ...      ...          ...
149812  2023-06-09 19:30:00  1960.87  1961.09  1960.25  1960.65          650
149813  2023-06-09 19:45:00  1960.65  1960.68  1959.68  1960.17         1032
149814  2023-06-09 20:00:00  1960.18  1960.64  1960.09  1960.24          282
149815  2023-06-09 20:15:00  1960.24  1960.93  1960.23  1960.85          156
149816  2023-06-09 20:30:00  1960.79  1961.16  1960.58  1960.77          262

[149817 rows x 6 columns]

In [21]:
# Getting data on the 5 minutes timeframe

if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()

# set the symbol and timeframe
symbol = "XAUUSD"
timeframe = mt5.TIMEFRAME_M5   # for one-minute bars

#dates for retrieving the history
date_from = datetime(2016, 12, 15)
date_to = datetime.today()

# get the history
history = mt5.copy_rates_range(symbol, timeframe, date_from, date_to)

if history is not None and len(history) > 0:
    # create DataFrame out of the obtained data
    rates_frame = pd.DataFrame(history).drop(['spread','real_volume'], axis =1)

    # convert time in seconds into the datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')
else:
    print("No data for the requested period")

# terminate the connection to the MetaTrader 5 terminal
mt5.shutdown()
rates_frame

                      time     open     high      low    close  tick_volume
0      2016-12-15 02:10:00  1142.34  1142.50  1142.14  1142.24          196
1      2016-12-15 02:15:00  1142.24  1142.78  1142.06  1142.63          461
2      2016-12-15 02:20:00  1142.63  1143.02  1142.50  1142.96          461
3      2016-12-15 02:25:00  1142.96  1143.23  1142.62  1142.63         1007
4      2016-12-15 02:30:00  1142.64  1144.01  1142.62  1143.28         2404
...                    ...      ...      ...      ...      ...          ...
448100 2023-06-07 13:05:00  1959.37  1960.10  1958.36  1958.52          706
448101 2023-06-07 13:10:00  1958.54  1959.72  1958.20  1959.61          625
448102 2023-06-07 13:15:00  1959.61  1960.49  1958.98  1960.08          457
448103 2023-06-07 13:20:00  1960.07  1960.70  1959.87  1960.36          583
448104 2023-06-07 13:25:00  1960.34  1960.52  1959.61  1959.61          433

[448105 rows x 6 columns]

In [22]:
# Getting data on the 5 minutes timeframe

if not mt5.initialize():
    print("initialize() failed, error code =",mt5.last_error())
    quit()

# set the symbol and timeframe
symbol = "EURUSD"
timeframe = mt5.TIMEFRAME_M5   # for one-minute bars

#dates for retrieving the history
date_from = datetime(1971, 1, 1)
date_to = datetime.today()

# get the history
history = mt5.copy_rates_range(symbol, timeframe, date_from, date_to)

if history is not None and len(history) > 0:
    # create DataFrame out of the obtained data
    rates_frame = pd.DataFrame(history).drop(['spread','real_volume'], axis =1)

    # convert time in seconds into the datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')
else:
    print("No data for the requested period")

# terminate the connection to the MetaTrader 5 terminal
mt5.shutdown()
rates_frame

                       time     open     high      low    close  tick_volume
0       1971-01-03 22:00:00  0.53690  0.53690  0.53690  0.53690            1
1       1971-01-04 22:00:00  0.53660  0.53660  0.53660  0.53660            1
2       1971-01-05 22:00:00  0.53650  0.53650  0.53650  0.53650            1
3       1971-01-06 22:00:00  0.53680  0.53680  0.53680  0.53680            1
4       1971-01-07 22:00:00  0.53710  0.53710  0.53710  0.53710            1
...                     ...      ...      ...      ...      ...          ...
1817206 2023-06-07 13:05:00  1.07144  1.07168  1.07141  1.07151          243
1817207 2023-06-07 13:10:00  1.07151  1.07215  1.07145  1.07215          235
1817208 2023-06-07 13:15:00  1.07215  1.07227  1.07190  1.07224          230
1817209 2023-06-07 13:20:00  1.07222  1.07226  1.07180  1.07193          245
1817210 2023-06-07 13:25:00  1.07193  1.07213  1.07186  1.07186          230

[1817211 rows x 6 columns]